@font-face {
    font-family: "monogram";
    src: url("./Microgramma.ttf")
}
*{
    // min-height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
#nav{
    overflow: hidden;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    ul{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        list-style: none;
        a{
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            color: black;
            height: 70px;
            padding: 0 20px;
            font-size: 1rem;
            transition: 200ms ease;
            &:hover{
                // background-color: rgba(164, 164, 164, 0.716);
                transition: 200ms ease;
                border-bottom: 1px solid black;
            }
            li{
                img{
                    height: 50px;
                }
                
            }
        }
    }
}

#Charge{
    overflow: hidden;
    #Charge_landing{
        background-image: url(../public/assets/landing_picture.png);
        min-height: 100vh;
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        h1{
            position: absolute;
            font-family: "monogram",sans-serif;
            top: 40%;
            left: 40%;
            font-size: 2.7rem;
            font-weight: 400;
            transform: translate(-50%,-50%);
            background: rgb(0,0,0);
            background: linear-gradient(180deg, rgba(0,0,0,1) 37%, rgba(116,116,116,1) 91%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            line-gap-override: 10px;
        }
        #side_nav{
            position: absolute;
            bottom: 0;
            left: 0;
            li{
                padding: 40px 10px;
                background-color: #fbfbfb76;
                transition: 200ms ease-in-out;
                &:hover{
                    transition: 200ms ease-in-out;
                    background-color: #FBFBFB;
                }
            }
        }

    }


    #Charge_page{
        height: 500vh;
        width: 100%;
        background-color: #C4C7D1;
        overflow: hidden;


        .heading{
            width: 100%;
            text-align: center;
            align-items: center;
            font-family: "monogram",sans-serif;
            margin-top: 7vh;
            font-size: 3.5rem;
            z-index: 2;
            font-weight: 400;
            background: rgb(0,0,0);
            background: linear-gradient(180deg, rgba(0,0,0,1) 37%, rgba(116,116,116,1) 91%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            
        }
        .subHeading{
            width: 100%;
            text-align: center;
            align-items: center; /* Center the content horizontally */
            margin-top: 4.5vh;
            font-weight: 400;
            font-size: 1.2rem;
        }
          
          
          .carSection {
            z-index: 2;
            overflow-y: hidden ;
            padding-top: 9vh;
            right: 7vw;
            width: 100vw;
            display: flex;
            height: 110vh;
            position: relative; 
          }
          
          

          .car {
            width: 40vw;
            align-self: center;
            margin: auto;
            margin-top: 10vh; 
          }

          .charger {
            width: 15vw;
            position: absolute;
            margin-top: 10vh;
            margin-left: 18vw;
          }

          .line{
            position: absolute;
            font-size: 1.5rem;
          }
          
          .line1 {
            align-self: flex-start;
            right: 20vw;
            width: 350px;
          }
          
          .line2 {
            width: 100px;
            top: 43vh;
            right: 23vw;           
          }
          
          .line3 {
            width: 600px;
            top: 58vh;
            left: 50vw;
          }

          .initText1{
            left: 82vw;
            top: 95px;
          }

          .initText2{
            left: 79vw;
            top: 280px;
            text-align: left;
            
          }

          .initText3{
            left: 90vw;
            top: 470px;            
          }

          .finalLine1 {
            top: 20vh; /* Place the first line 12% from the top */
            left: 26vw; /* Place the first line to the right of the car */
          }
          
          .finalLine2 {
            top: 50vh; /* Place the second line 35% from the top */
            left: 34vw; /* Place the second line to the right of the car */
          }
          
          .finalLine3 {
            top: 77vh;
            left: 36vw; /* Place the third line to the right of the car */
          }

          .finalText1{
            left: 60vw;
            top: 15vh;
          }

          .finalText2{
            left: 62vw;
            top: 45vh;
          }

          .finalText3{
            left: 64vw;
            top: 72vh;
          }

    }
    #Charge_about{
        overflow: hidden;
        display: flex;
        justify-content: space-around;
        min-height: 100vh;
        align-items: center;
        background: rgb(211,213,222);
        background: linear-gradient(90deg, rgba(211,213,222,1) 1%, rgba(255,255,255,1) 39%);
        .image{
          overflow: hidden;
            width: 30vw;
            padding: 50px;
            margin: 10px;
            img{
                height: 500px;
            }
        }
        .about{
            width: 60vw;
            .content{
                display: flex;
                justify-content: center;
                align-items: start;
                margin: 20px 10px;
                margin-top: 50px;
                margin-bottom: 70px;
                img{
                    margin: 5px 10px;
                    width: 50px;
                    // height: auto;
                }
                p{
                    font-size: 1.2rem;
                }
            }
        }
    }
}

#Footer{
    height: 900px;
    position: relative;
    .data{
        height: inherit;
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background: transparent;
        .form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            svg{
                margin: 20px;
            }
            form{
                border: 1px solid black;
                border-radius: 10px;
                padding: 5px;
                margin: 10px;
                input{
                    border: none;
                    outline: none;
                    background-color: transparent;
                    padding: 10px;
                    font-size: 1.1rem;
                }
                button{
                    border: none;
                    outline: none;
                    padding: 10px;
                    font-size: 1.1rem;
                    background-color: red;
                    color: white;
                }
            }
        }
        .contacts{
            width: 100%;
            padding: 20px 0px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            .logo{
                width: 350px;
            }
            .contact{
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
                gap: 1rem;
                width: 60vw;
                @media (max-width: 600px) {
                    & {
                      grid-template-columns: 1fr;
                    }
                  }
                a{
                    font-size: 1.2rem;
                    display: block;
                    text-decoration: none;
                    font-size: 1.2rem;
                    text-align: center;
                    margin: 10px;
                    font-weight: 600;
                    color: black;

                }
            }
        }
        .tnc{
            width: 100%;
            padding: 20px 0px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            .tnc_1{
                a{
                    display: block;
                    margin: 10px;
                    color: black;
                    text-decoration: none;
                    font-size: 1.2rem;
                }
            }
            .copy{
                width: 60vw;
                h3{
                    font-weight: 400;
                    margin: 10px 0px;
                    span{
                        margin-left: auto;
                    }
                }
            }
        }
    }
    img.footer_img{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        height: auto;
        z-index: -1;
    }

}