@font-face {
    font-family: "monogram";
    src: url("./Microgramma.ttf")
}
*{
    // min-height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
#nav{
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    ul{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        list-style: none;
        a{
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            color: black;
            height: 70px;
            padding: 0 20px;
            font-size: 1rem;
            transition: 200ms ease;
            &:hover{
                // background-color: rgba(164, 164, 164, 0.716);
                transition: 200ms ease;
                border-bottom: 1px solid black;
            }
            li{
                img{
                    height: 50px;
                }
                
            }
        }
    }
}

#Home{
    #Home_landing{
        background-image: url(../public/assets/landing_picture.png);
        min-height: 100vh;
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        h1{
            position: absolute;
            font-family: "monogram",sans-serif;
            top: 40%;
            left: 40%;
            font-size: 2.7rem;
            font-weight: 400;
            transform: translate(-50%,-50%);
            background: rgb(0,0,0);
            background: linear-gradient(180deg, rgba(0,0,0,1) 37%, rgba(116,116,116,1) 91%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            line-gap-override: 10px;
        }
        #side_nav{
            position: absolute;
            bottom: 0;
            left: 0;
            li{
                padding: 40px 10px;
                background-color: #fbfbfb76;
                transition: 200ms ease-in-out;
                &:hover{
                    transition: 200ms ease-in-out;
                    background-color: #FBFBFB;
                }
            }
        }

    }
    #Charge_page{
        height: 100vh;
        width: 100%;
        background-color: #C4C7D1;
        overflow: hidden; 

        .heading{
            display: flex;
            width: 100%;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            font-family: "monogram",sans-serif;
            margin-top: 7vh;
            font-size: 1.9rem;
            font-weight: 400;
            background: rgb(0,0,0);
            background: linear-gradient(180deg, rgba(0,0,0,1) 37%, rgba(116,116,116,1) 91%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            line-gap-override: 10px;
        }
        .subHeading {
            display: flex;
            width: 100%;
            flex-direction: column;
            justify-content: center; /* Center the content vertically */
            align-items: center; /* Center the content horizontally */
            margin-top: 5vh;
          }
          
          .subHeading h5 {
            text-align: center; /* Center the text horizontally */
            font-size: 1.07rem;
            color: transparent; /* Hide the text color */
            background: rgb(0, 0, 0);
            background-clip: text; /* Apply background text effect to the text */
          }
          
          
          .carSection {
            display: grid;
            grid-template-columns: auto 40vw; /* The first column will be as wide as the charger image, and the second column will be 40vw wide */
            height: 100vh; /* Set the height of the grid container to the viewport height */
            align-items: center; /* Vertically center the elements within the grid container */
            justify-content: center; /* Horizontally center the elements within the grid container */
            position: relative; /* Add this to make .line elements position relative to the .carSection container */
            transform: translateX(-3%);
          }
          
          .car {
            width: 40vw;
            transform: translateX(-23%) translateY(-35%); /* Move the car 23% to the left and 35% above */
            /* Add any additional styling as needed */
          }
          
          .charger {
            width: 15vw;
            transform: translateX(-40%) translateY(-35%); /* Move the charger 40% to the left and 35% above */
            /* Add any additional styling as needed */
          }
          
          .line {
            position: absolute; /* Position the lines absolutely within the .carSection container */
            display: flex; /* Display the line and h5 elements in a flex container */
            align-items: center; /* Align items vertically within the flex container */
          }
          
          .line img {
            margin-right: 10px; /* Add some spacing between the line image and the h5 text */
          }
          
          .line1 {
            top: 12%; /* Place the first line 12% from the top */
            left: 57%; /* Place the first line to the right of the car */
          }
          
          .line2 {
            top: 35%; /* Place the second line 35% from the top */
            left: 69%; /* Place the second line to the right of the car */
          }
          
          .line3 {
            top: 51%; /* Place the third line 53% from the top */
            left: 53%; /* Place the third line to the right of the car */
          }

          .line1 h3{
            transform: translateY(-100%);
          }

          .line3 h3{
            transform: translateY(40%);
          }

          .finalLine1 {
            opacity: 0;
            transform:
                rotate(180deg)
                scaleX(-1);;
            top: 12%; /* Place the first line 12% from the top */
            left: 57%; /* Place the first line to the right of the car */
          }
          
          .finalLine2 {
            opacity: 0;
            top: 35%; /* Place the second line 35% from the top */
            left: 69%; /* Place the second line to the right of the car */
          }
          
          .finalLine3 {
            opacity: 0;
            top: 51%; /* Place the third line 53% from the top */
            left: 53%; /* Place the third line to the right of the car */
          }

          
          
          
          
          
          
          
          
          
  
          
          
          
          
          
    }
    #Home_about{
        display: flex;
        justify-content: center;
        min-height: 100vh;
        align-items: center;
        justify-content: center;background: rgb(211,213,222);
        background: linear-gradient(90deg, rgba(211,213,222,1) 1%, rgba(255,255,255,1) 39%);
        .image{
          overflow: hidden;
            width: 30vw;
            padding: 10px;
            margin: 20px;
            img{
                height: 500px;
            }
        }
        .about{
            width: 55vw;
            .content{
                display: flex;
                justify-content: center;
                align-items: start;
                margin: 20px 10px;
                img{
                    margin: 5px 10px;
                    width: 20px;
                    height: auto;
                }
                p{
                    font-size: 1.2rem;
                }
            }
        }
    }
}

#Footer{
    height: 900px;
    .data{
        height: inherit;
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background: transparent;
    }
    img.footer_img{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100vw;
        overflow: hidden;
        border: 1px solid black;
        height: auto;
        z-index: -1;
    }
}