@font-face {
    font-family: "monogram";
    src: url("./Microgramma.ttf")
}
*{
    // min-height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
#nav{
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    ul{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        list-style: none;
        a{
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            color: black;
            height: 70px;
            padding: 0 20px;
            font-size: 1rem;
            transition: 200ms ease;
            &:hover{
                // background-color: rgba(164, 164, 164, 0.716);
                transition: 200ms ease;
                border-bottom: 1px solid black;
            }
            li{
                img{
                    height: 50px;
                }
                
            }
        }
    }
}

#Charge_landing{
    background-image: url(../public/assets/landing_picture.png);

    h1{
        background: rgb(0,0,0);
        background: linear-gradient(180deg, rgba(0,0,0,1) 37%, rgba(116,116,116,1) 91%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        top: 40%;
        left: 40%;
        font-size: 2.7rem;
        font-weight: 400;
        transform: translate(-50%,-50%);
    }
}
#Home{
    // background-image: url(../public/assets/home_1.png);
    position: relative;
    background: linear-gradient(180deg, #E5EAED 66.98%, rgba(217, 217, 217, 0) 100%);
    border-top: 1px solid black;
    .Landing{
        h1{
            top: 30%;
            left: 50%;
            font-size: 6rem;
            font-weight: 400;
            width: 80%;
            text-align: center;
            transform: translate(-50%,-50%);
            background: rgb(180,180,182);
            background: linear-gradient(128.22deg, #525050 26.13%, rgba(82, 80, 80, 0) 48.21%, #525050 69.84%),
                linear-gradient(180deg, #AAAAAA -21.43%, rgba(82, 80, 80, 0) 45.41%, #323232 112.25%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            z-index: 1;
        }
    }
    img{
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%,-50%);
        height: 70vh;
        z-index: -0;
    }

    .tech{
        display: flex;
        height: 100vh;
        .left{
            width: 55%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: start;
            padding: 30px;
            .title{
                display: flex;
                justify-content: space-between;
                justify-content: start;
                align-items: center;
                flex-direction: row;
                overflow: hidden;
                width: 70vw;
                h1{
                    margin: 20px;
                    font-size: 2rem;
                    font-weight: 400;
                    
                }
            }
            .content{
                margin: 20px;
                max-width: 500px;
                h1{
                    color: #BC0000;
                    margin: 20px 0;
                    font-size: 2rem;
                    font-weight: 400;
                }
            }
            .btn{
                width: 100%;
               display: flex;
               justify-content: end;
               button{
                margin: 20px;
                padding: 10px 20px;
                border: none;
                border: 1px solid black;
                background-color: transparent;
                width: 200px;
                display: flex;
                justify-content: space-between;
                border-radius: 10px;
                transition: 200ms ease;
                span{
                    font-size: 1rem;
                }
                &:hover{
                    background-color: black;
                    color: white;
                    transition: 200ms ease;
                }
               }
            }
        }
        .right{
            width: 45%;
            padding: 40px;
            background-color: #F0F2F3;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            .tile{
                display: flex;
                width: 100%;
                justify-content: space-evenly;
                align-items: center;
                svg{
                    width: 60px;
                }
                .content{
                    width: 60%;
                    h1{
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }

}

.Landing{
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    h1{
        position: absolute;
        font-family: "monogram",sans-serif;
        line-gap-override: 10px;
    }
    #side_nav{
        position: absolute;
        bottom: 0;
        left: 0;
        li{
            padding: 40px 10px;
            background-color: #fbfbfb76;
            transition: 200ms ease-in-out;
            &:hover{
                transition: 200ms ease-in-out;
                background-color: #FBFBFB;
            }
        }
    }

}
#Charge{
    #Charge_page{
        height: 100vh;
        width: 100%;
        background-color: #C4C7D1;
        overflow: hidden; 

        .heading{
            display: flex;
            width: 100%;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            font-family: "monogram",sans-serif;
            margin-top: 7vh;
            font-size: 1.9rem;
            font-weight: 400;
            background: rgb(0,0,0);
            background: linear-gradient(180deg, rgba(0,0,0,1) 37%, rgba(116,116,116,1) 91%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            line-gap-override: 10px;
        }
        .subHeading {
            display: flex;
            width: 100%;
            flex-direction: column;
            justify-content: center; /* Center the content vertically */
            align-items: center; /* Center the content horizontally */
            margin-top: 5vh;
          }
          
          .subHeading h5 {
            text-align: center; /* Center the text horizontally */
            font-size: 1.07rem;
            color: transparent; /* Hide the text color */
            background: rgb(0, 0, 0);
            background-clip: text; /* Apply background text effect to the text */
          }
          
          
          .carSection {
            display: grid;
            grid-template-columns: auto 40vw; /* The first column will be as wide as the charger image, and the second column will be 40vw wide */
            height: 100vh; /* Set the height of the grid container to the viewport height */
            align-items: center; /* Vertically center the elements within the grid container */
            justify-content: center; /* Horizontally center the elements within the grid container */
            position: relative; /* Add this to make .line elements position relative to the .carSection container */
            transform: translateX(-3%);
          }
          
          .car {
            width: 40vw;
            transform: translateX(-23%) translateY(-35%); /* Move the car 23% to the left and 35% above */
            /* Add any additional styling as needed */
          }
          
          .charger {
            width: 15vw;
            transform: translateX(-40%) translateY(-35%); /* Move the charger 40% to the left and 35% above */
            /* Add any additional styling as needed */
          }
          
          .line {
            position: absolute; /* Position the lines absolutely within the .carSection container */
            display: flex; /* Display the line and h5 elements in a flex container */
            align-items: center; /* Align items vertically within the flex container */
          }
          
          .line img {
            margin-right: 10px; /* Add some spacing between the line image and the h5 text */
          }
          
          .line1 {
            top: 12%; /* Place the first line 12% from the top */
            left: 57%; /* Place the first line to the right of the car */
          }
          
          .line2 {
            top: 35%; /* Place the second line 35% from the top */
            left: 69%; /* Place the second line to the right of the car */
          }
          
          .line3 {
            top: 51%; /* Place the third line 53% from the top */
            left: 53%; /* Place the third line to the right of the car */
          }

          .line1 h3{
            transform: translateY(-100%);
          }

          .line3 h3{
            transform: translateY(40%);
          }

          .finalLine1 {
            opacity: 0;
            transform:
                rotate(180deg)
                scaleX(-1);;
            top: 12%; /* Place the first line 12% from the top */
            left: 57%; /* Place the first line to the right of the car */
          }
          
          .finalLine2 {
            opacity: 0;
            top: 35%; /* Place the second line 35% from the top */
            left: 69%; /* Place the second line to the right of the car */
          }
          
          .finalLine3 {
            opacity: 0;
            top: 51%; /* Place the third line 53% from the top */
            left: 53%; /* Place the third line to the right of the car */
          }

          
          
          
          
          
          
          
          
          
  
          
          
          
          
          
    }
    #Charge_about{
        display: flex;
        justify-content: center;
        min-height: 100vh;
        align-items: center;
        justify-content: center;
        background: rgb(211,213,222);
        background: linear-gradient(90deg, rgba(211,213,222,1) 1%, rgba(255,255,255,1) 39%);
        .image{
          overflow: hidden;
            width: 30vw;
            padding: 10px;
            margin: 20px;
            img{
                height: 500px;
            }
        }
        .about{
            width: 55vw;
            .content{
                display: flex;
                justify-content: center;
                align-items: start;
                margin: 20px 10px;
                img{
                    margin: 5px 10px;
                    width: 20px;
                    height: auto;
                }
                p{
                    font-size: 1.2rem;
                }
            }
        }
    }
}

#Footer{
    height: 900px;
    position: relative;
    .data{
        height: inherit;
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background: transparent;
        .form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            svg{
                margin: 20px;
            }
            form{
                border: 1px solid black;
                border-radius: 10px;
                padding: 5px;
                margin: 10px;
                input{
                    border: none;
                    outline: none;
                    background-color: transparent;
                    padding: 10px;
                    font-size: 1.1rem;
                }
                button{
                    border: none;
                    outline: none;
                    padding: 10px;
                    font-size: 1.1rem;
                    background-color: red;
                    border-radius: 5px;
                    color: white;
                    transition: 100ms ease;
                    &:hover{
                        transition: 100ms ease;
                        background-color: rgb(255, 106, 106);
                    }
                }
            }
        }
        .contacts{
            width: 100%;
            padding: 20px 0px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            .logo{
                width: 350px;
            }
            .contact{
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
                gap: 1rem;
                width: 60vw;
                @media (max-width: 600px) {
                    & {
                      grid-template-columns: 1fr;
                    }
                  }
                a{
                    font-size: 1.2rem;
                    display: block;
                    text-decoration: none;
                    font-size: 1.2rem;
                    text-align: center;
                    margin: 10px;
                    font-weight: 600;
                    color: black;

                }
            }
        }
        .tnc{
            width: 100%;
            padding: 20px 0px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            .tnc_1{
                a{
                    display: block;
                    margin: 10px;
                    color: black;
                    text-decoration: none;
                    font-size: 1.2rem;
                }
            }
            .copy{
                width: 60vw;
                h3{
                    font-weight: 400;
                    margin: 10px 0px;
                    span{
                        margin-left: auto;
                    }
                }
            }
        }
    }
    img.footer_img{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        height: auto;
        z-index: -1;
    }

}